* {
    padding: 0;
    margin: 0;
    font-family: sans-serif, Arial;
}
body, html {
    height: 100%;
    width: 100%;
}
#tabTitles {
    height: 100px;
    background: #055372;
    width: 100%;
    padding-top: 10px;
}
.tabButton {
    font-size: 32px;
    color: #fff;
	cursor: pointer;
}
ul.tabList {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: inline;
    overflow:
}
li.tabList {
    width: 25%;
    height: 100px;
    display: inline-block;
    line-height: 100px;
    text-align: center;
}
#logo {
    margin:auto;
    width: 20%;
    max-width: 200px;
    padding: 10px 2.5%;
    display: inline-block;
    float: left;
}
#barButton {
    height: 80px;
    background: #00739c;
    width: 100%;
}
.barButton {
    font-family: Century Gothic, sans-serif;
    font-size: 28px;
    cursor: pointer;
    background:none!important;
    border:none;
    padding:0!important;
    color: #fff;
    line-height: 78px;
    margin: 0px 60px;
}
.name {
    font-family: Century Gothic, sans-serif;
    display: inline;
    line-height: 80px;
    color: #fff;
    font-size: 28px;
}
#nameLabel {
    display:inline-block;
    width:20%;
    font-family:Century Gothic, sans-serif;
    float:right;
}
#buttonWrap {
    float:left;
    display:inline-block;
    height:100%;
    width:80%;
}
.clientBox {
    margin: 10%;
    margin-top: 3px;
    width:80%;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
}
.tableBox {
    margin: 10%;
    margin-top: 3px;
    width:80%;
    border-style: solid;
    border-width: 2px;
    height: 200px;
}
.overflow {
    overflow: scroll;
    height: calc(100% - 33px);
    width: 100%;
}
#sMonth {
    margin:0 5px;
    margin-left: 10px;
    width: 48px;
}
#sDay {
    margin:0 5px;
    width:48px;
}
#sYear {
    margin:0 5px;
    width:48px;
}
#sRetire {
    width: 24px;
    margin:0 5px;
}
#cMonth {
    margin:0 5px;
    margin-left: 10px;
    width: 48px;
}
#cDay {
    margin:0 5px;
    width:48px;
}
#cYear {
    margin:0 5px;
    width:48px;
}
#cRetire {
    width: 24px;
    margin:0 5px;
}
table {
    width:100%;
    border-collapse: collapse;
}
#aTMR {
    max-height: 20px;
    background: #000;
    color: #fff;
}
#aTMR td {
    width: 25%;
}
#iTMR {
    max-height: 20px;
    background: #000;
    color: #fff;
}
#iTMR td {
    width:33%;
}
td, th {
    line-height: 20px;
    height: 20px;
    max-height: 30px;
    border: 1px solid black;
    margin: 0px;
    padding: 5px 12px;
    width: auto;
}
.fM {
    margin: 0px 5px;
}
.tbEdit button {
    width: 80px;
    padding: 3px 0;
    margin: 0 7px;
}
#reportTable {
    height: 500px;
    min-height: 500px;
	width: 100%;
	}
#reportHead {
    height: 20px;
    max-height: 20px;
    background: #000;
    color: #fff;
    font-size: 10pt;
}

#iTable td {
	border: 1px solid white;
	float: left;
	line-height:20px;
}